<!--use absolute URL's here as the navbar will be accessed from different pages, won't work as intended otherwise-->
<div class="Side_Nav Euler_Side_Nav">
    <button *ngFor="let but of buttonList" (click)="buttonClicked(but)">{{but}}</button>
</div>

<!--
    <button href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_about.html" id="overall" style="padding-top: 15px; padding-bottom: 15px;">Overall Data</button>
    <button href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_about.html" id="2021" style="padding-top: 15px; padding-bottom: 15px;">2021</button>
    <button href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_about.html" id="2020" style="padding-top: 15px; padding-bottom: 15px;">2020</button>
    <button href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_about.html" id="2019" style="padding-top: 15px; padding-bottom: 15px;">2019</button>
    <button href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_about.html" id="2018" style="padding-top: 15px; padding-bottom: 15px;">2018</button>
    <button href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_about.html" id="2017" style="padding-top: 15px; padding-bottom: 15px;">2017</button>
-->