.artist-display{
    border: solid;
    padding: 10px;
    max-width: 750px;
    max-height: 300px;
    display: flex;
    justify-content: space-between;
  }
  
.card-header{
    text-align: center;
    background-color:#f26925 ;
  }
  
.artist-artwork{
  /*Songs in Spotify's DB are saved as 640x640 pixels*/
  width: 33%;
  height: 33%;
  border:solid;
  float: left;
}

.artist-information {
  margin-right: 10px;
  float:left;
  overflow-y: scroll;
  width: 450px;
}

.albums {
    margin-left: 25px;
}

.albums strong {
    margin: 0px;
}

.albums p {
    margin: 0px 0px 0px 15px;
}

.songs {
    margin-left: 25px;
}

.songs p {
    margin: 0px;
}

h4 {
  margin: 2px;;
}

h2 {
  margin: 5px;
}