:host {
    display:flex;
}

.main-body {
    border-color: black;
    border: solid;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.body-flex {
    display: flex;
    width:100%;
    justify-content: space-between;
}

.content-block {
    /*border: solid;*/
    margin: 10px;
}

.button-flex {
    display: flex;
    flex-direction: column;
}

.selection-button {
    
    /*width: 125px;*/
    padding: 5px, 0px, 0px, 0px;
    height: 33px;
    margin: 10px;
}

.selection-button:hover {
    background-color: gold;
    cursor: pointer;
}

.pressed-button {
    background-color: lightgoldenrodyellow;
}

.nonpressed-button {
    background-color: darkgoldenrod;
}

.data-list {
    max-height: 198px;
    overflow-y: auto;
    border: solid;
    padding: 0px;
    background-color: black;
}

.button-image {
    width: 30px;
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.search-bar {
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.search-button {
    margin: 0px;
    height: 29px;
    width: 29px;
    padding:5px;
    margin-right: 10px;
    background-color: blue;
    color:white;
}

.search-button:hover {
    cursor: pointer;
}

.table-description {
    max-width: 600px;
    margin-left: 10px;
}