<app-side-navbar [buttonList]="buttonList" (buttonClickEvent)="buttonClicked($event)"></app-side-navbar>
<div class="main-body">
    <div class="body-flex" *ngIf="currentDisplay == 'Overall Data'">
        <div class="content-block button-flex">
            <button class="selection-button" (click)="setDataType('song')">Song Data</button>
            <button class="selection-button" (click)="setDataType('album')">Album Data</button>
            <button class="selection-button">Artist Data</button>
            <button class="selection-button">Year Data</button>
        </div>
        <div class="content-block button-flex">
            <div style="display:flex; align-items: center;">
                <input class="search-bar" placeholder="jump to number..." [(ngModel)]="jumpToNumber">
                <button class="search-button" (click)="jumpTo()">Go</button>
            </div>
            <button class="selection-button" style="float:left;" (click)="getSongsByOverallRankings()">
                <div style="display:flex; width:100%">
                    <p style="margin:0px; float:left">Overall Rankings</p>
                    <img class="button-image" src="{{overallRankingsDirectionImage}}">
                </div>   
            </button>
            <button class="selection-button" style="float:left;" (click)="getSongsByAverageRankings()">
                <div style="display:flex; width:100%">
                    <p style="margin:0px; float:left">Average Rankings</p>
                    <img class="button-image" src="{{averageRankingsDirectionImage}}">
                </div>  
            </button>
        </div>
        <div id="item-list" class="content-block data-list" style="flex-grow: 1;" (scroll)="listScrollEventHandler($event)">
            <app-list-item *ngFor="let song of songs; index as i" [backgroundColorValue]="i % 2" [listValue]="listStart - i * flip" [song]="song" [displayType]="currentDataType" (clickEvent)="listItemSelected($event)"></app-list-item>
        </div>
    </div>
    <div class="body-flex" *ngIf="currentDisplay == 'Overall Data'">
        <app-song-display class="content-block" *ngIf="currentlySelectedListItem != null" [song]="currentlySelectedListItem.song"></app-song-display>
        <div class="flex-item">
            <div style="display: block;">
            <canvas baseChart width="800" height="300"
                        [data]="lineChartData"
                        [options]="lineChartOptions"
                        [type]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)" *ngIf="currentlySelectedListItem != null"></canvas>
            </div>
          </div>
    </div>
    <div class="body-flex" *ngIf="currentDisplay != 'Overall Data'">
        <div class="content-block">Data List</div>
        <div class="content-block">Data List</div>
        <div class="content-block">Info about selection</div>
    </div>
</div>