<app-side-navbar [buttonList]="buttonList" (buttonClickEvent)="buttonClicked($event)"></app-side-navbar>
<div class="main-body">
    <div class="body-flex" *ngIf="currentDisplay == 'Overall Data'">
        <div class="table-description">
            <h3>{{descriptionHeader}}:</h3>
            <p>{{descriptionBody}}</p>
        </div>
        <div id="data-type-buttons" class="content-block button-flex">
            <button class="selection-button pressed-button" (click)="setDataType('song')">
                <div style="display:flex; align-items: center; justify-content: space-between;">
                    Song Data
                    <img class="button-image" src="{{rankingsDirectionImages[rankingsValue]}}">
                </div>
            </button>
            <button class="selection-button nonpressed-button" (click)="setDataType('album')">
                <div style="display:flex; align-items: center; justify-content: space-between;">
                    Album Data
                    <img class="button-image" src="{{rankingsDirectionImages[rankingsValue]}}">
                </div>
            </button>
            <button class="selection-button nonpressed-button" (click)="setDataType('artist')">
                <div style="display:flex; align-items: center; justify-content: space-between;">
                    Artist Data
                    <img class="button-image" src="{{rankingsDirectionImages[rankingsValue]}}">
                </div>
            </button>
            <button class="selection-button nonpressed-button" (click)="setDataType('year')">
                <div style="display:flex; align-items: center; justify-content: space-between;">
                    Year Data
                    <img class="button-image" src="{{rankingsDirectionImages[rankingsValue]}}">
                </div>
            </button>
        </div>
        <div class="content-block">
            <div style="display:flex; align-items: center;">
                <input id="jump-to" class="search-bar" placeholder="jump to number..." [(ngModel)]="jumpToNumber">
                <button class="search-button" (click)="jumpTo()">Go</button>
            </div>
            <div id="data-ordering-buttons" class="content-block button-flex">
                <button class="selection-button pressed-button" style="float:left;" (click)="setRankingType('overallScore')">Overall Rankings</button>
                <button class="selection-button nonpressed-button" style="float:left;" (click)="setRankingType('averageScore')">Average Rankings</button>
            </div>
        </div>
        <div id="item-list" class="content-block data-list" style="flex-grow: 1;" (scroll)="listScrollEventHandler($event)">
            <app-list-item *ngFor="let datum of data; index as i" [backgroundColorValue]="i % 2" [listValue]="listStart - i * flip" [data]="datum" [dataType]="currentDataType" (clickEvent)="listItemSelected($event)"></app-list-item>
        </div>
    </div>
    <div class="body-flex" *ngIf="currentDisplay == 'Overall Data'">
        <app-song-display class="content-block" *ngIf="currentlySelectedListItem != null && currentDataType == 'song'" [song]="currentlySelectedListItem.data"></app-song-display>
        <app-album-display class="content-block" *ngIf="currentlySelectedListItem != null && currentDataType == 'album'" [album]="currentlySelectedListItem.data"></app-album-display>
        <div class="flex-item">
            <div style="display: block;">
            <canvas baseChart width="800" height="300"
                        [data]="lineChartData"
                        [options]="lineChartOptions"
                        [type]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)" *ngIf="currentlySelectedListItem != null"></canvas>
            </div>
          </div>
    </div>
    <div class="body-flex" *ngIf="currentDisplay != 'Overall Data'">
        <div class="content-block">Data List</div>
        <div class="content-block">Data List</div>
        <div class="content-block">Info about selection</div>
    </div>
</div>