.song-display{
    border: solid;
    padding: 10px;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
  }
  
.card-header{
    text-align: center;
    background-color:#f26925 ;
  }
  
.album-artwork{
  /*Songs in Spotify's DB are saved as 640x640 pixels*/
  width: 33%;
  height: 33%;
  border:solid;
  float: left;
}

.song-information {
  margin-right: 10px;
  float:left;
}

h4 {
  margin: 2px;;
}

h2 {
  margin: 5px;
}