<div class="song-display">
    <div class="song-information">
        <h2><u>{{song.title}}</u></h2>
        <h4>Artist: {{song.artist}}</h4>
        <h4>Album: {{song.album.title}}</h4>
        <h4>Released: {{song.album.releaseYear}}</h4>
        <h4>Overall Score: {{song.overallScore | number: '1.2-2'}}</h4>
        <h4>Average Rank: {{song.averageScore | number: '1.2-2'}}</h4>
        <h4>Spotify Popularity: {{song.popularity}}</h4>
        <a href="{{songLink}}" target="_blank">Listen on Spotify</a>
        <br><br>
        <h4>Notes:</h4>
        <p style="margin:0px;">{{song.notes}}</p>
    </div>
    <img class="album-artwork" [src]="albumArtworkSource" (error)="notLoaded()">
</div>