<div class="topnav" id="myTopnav">
    <a href="https://www.project-floyd.com" class="top-nav-home">Home</a>
    <div class="dropdown">
        <button class="dropbtn" id="topCode">
            Coding
        </button>
        <div class="dropdown-content">
            <a href="https://www.project-floyd.com/Pages/Project_Euler/project_euler_overview.html">Project Euler</a>
            <a href="#">Algorithms</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" id="topProject">
            Projects
        </button>
        <div class="dropdown-content">
            <a href="https://www.project-floyd.com/Pages/Projects/Golf_Chip/golf_chip_videos.html">Golf Chip</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" id="topHobby">
            Hobbies
        </button>
        <div class="dropdown-content">
            <a href="https://www.project-floyd.com/Pages/Golf/Overview/golf_overview.html">Golf</a>
        </div>
    </div>
    <a href="#about" class="Top_Abt">About</a>
</div>